[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	symlinks = false
	ignorecase = true
	autocrlf = false
	defaultBranch = main
[user]
	name = ongtrieuhau
	email = o.ngtrieuhau861@gmail.com
[o]
	url = {{REMOTE_URL}}

[branch "main"]
	remote = {{REMOTE_URL}}
	merge = refs/heads/main
